<div class="signup-container">
  <div class="signup-header">
    <h2 class="signup-title">Join Twitch today</h2>
  </div>
  <div class="signup-nav">

  </div>
  <div class="signup-body">
    <form action="" class="form-group">
      <div class="form-control">
        <input type="text" class="username-input">
        <input type="text" class="password-input">
        <input type="text" class="confirm-pwd-input">
        <div class="dob">
          <input type="text" class="month">
          <input type="text" class="day">
          <input type="text" class="year">
        </div>
        <div class="phonenumber-input">
          <input type="text" class="phonenumber-region">
          <input type="text" class="phonenumber-number">
        </div>
      </div>
      <div class="signup-submit">
        <a href="#" class="use-email">Use email instead</a>
        <p class="twitch-policy-desc">Twitch may use your phone number to call or send text messages with information
          regarding your account.</p>
        <p class="twitch-policy-desc">By clicking Sign Up, you are agreeing to Twitch’s Terms of Service and are
          acknowledging our Privacy Notice applies</p>
        <button class="submit-button">Sign Up</button>
      </div>

    </form>
  </div>
</div>