
a {
    text-decoration: none;
}


.signup-container{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(96, 87, 87);
}
.signup-header{
 
}
.signup-title{

}
.signup-nav{

}
.signup-body{

}
.form-group{

}
.form-control{

}
.username-input{

}
.password-input{

}
.confirm-pwd-input{

}
.dob{

}
.month{

}
.day{

}
.year{

}
.phonenumber-input{

}
.phonenumber-region{

}
.phonenumber-number{

}
.signup-submit{

}
.use-email{

}
.twitch-policy-desc{

}
.submit-button{

}