/* CSS for the signup form */
.signup-container {
    width: 50%;
    margin: 0 auto;
    // max-width: 800px; /* Example maximum width */
  }
.signup-body form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust the width as needed */
  }
  
  /* Style for form controls */
  .signup-body .form-control input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px; /* Adjust as per your design */
    box-sizing: border-box;
  }
  
  /* Additional styles for specific input groups */
  .signup-body .dob input[type="text"],
  .signup-body .phonenumber-input input[type="text"] {
    width: calc(33.3% - 5px); /* Adjust the width for date of birth and phone number fields */
    margin-right: 5px;
  }
  
  /* Styles for the signup button and other elements */
  .signup-submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .signup-submit .use-email,
  .twitch-policy-desc {
    margin-bottom: 10px;
  }
  
  .signup-submit .submit-button {
    padding: 10px 20px; /* Adjust button padding */
    background-color: #6441a5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  