/* CSS for the signup form */
.signup-container {
  width: 30%;
  margin: 0 auto;
  background-color: rgb(24, 23, 23);
  // max-width: 800px; /* Example maximum width */
  border-radius: 15px;
  // margin-top: 2rem;
}

.signup-body form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  /* Adjust the width as needed */
}

/* Style for form controls */
.signup-body .form-control input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  /* Adjust as per your design */
  width: 120%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(24, 23, 23);
  color:white;
}

/* Additional styles for specific input groups */
.signup-body .dob input[type="text"],
.signup-body .phonenumber-input input[type="text"] {
  width: calc(33.3% - 5px);
  /* Adjust the width for date of birth and phone number fields */
  margin-right: 5px;
}


/* Styles for the signup button and other elements */
.signup-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-submit .use-email,
.twitch-policy-desc {
  margin-bottom: 10px;
}

.signup-submit .submit-button {
  padding: 10px 20px;
  /* Adjust button padding */
  background-color: #6441a5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-header {
  text-align: center;
}

.signup-content {
  margin: 0 auto;
  width: 90%;
}

.signup-body input[type="text"] {
  width: 100%; /* Adjust the width as needed */
}

.month {
  background-color: rgb(24, 23, 23);
  color: white;
}

.use-email{
  text-decoration: none;
  color:#6441a5
}
.icon-logo {
  width: 50px; /* Set the width as desired */
  height: auto; /* This maintains the aspect ratio */
  margin-top: 2rem;
}

.submit-button {
  width: 119%;
  margin: 2rem 0;
}