* {
    margin: 0;
    padding: 0;
    // background-color:rgb(255, 255, 255);
    width: 100%;
}

body{
    display: flex; /* Or use display: block if it's a block-level element */
    justify-content: center;
    color: white;
    background-color: rgb(16, 15, 15);
}